.ui.inverted.segment,
.ui.primary.inverted.segment {
  background: #05a;
  color: rgba(255, 255, 255, 0.9);
  /* background-image: url("../assets/stock/background-cover.jpeg"); */
  background-size: cover;
}

.masthead .ui.text.container {
  text-shadow: none;
  text-align: left;
}

.ui.secondary.inverted.pointing.menu {
  border-width: 0;
}

.ui.secondary.pointing.menu {
  border-bottom-width: 0;
}

.portfolio .portfolio-item h1.ui.header {
  margin-bottom: 1rem;
  color: #9e3744;
}

.ui.fluid.card > .content {
  padding: 2rem;
}
